ul.nav-pills {
	margin-bottom: 15px;
	margin-left: 50px;
}
label {
	margin-bottom: 0;
    padding-top: 7px;
    text-align: right;
}

.ac {
    text-align: center;
}

img#histogram {
    margin-bottom: 10px;
    border: 5px solid #505050;
}